<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web-servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>userName3</param-name>
  	<param-value>范冰冰</param-value>
  </context-param>
  <context-param>
  	<param-name>userName4</param-name>
  	<param-value>矿石</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.kaicom.servlet.respose.HelloServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
    	<param-name>userName1</param-name>
    	<param-value>许航航</param-value>
    </init-param>
    <init-param>
    	<param-name>userName2</param-name>
    	<param-value>刘晃晃</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EncodingServlet</servlet-name>
  	<servlet-class>com.kaicom.servlet.respose.EncodingServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EncodingServlet</servlet-name>
  	<url-pattern>/encoding</url-pattern>
  </servlet-mapping>
  
  <session-config>
  <!-- 设置session的有效期是三十分钟 -->
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <listener>
  	<listener-class>com.kaicom.servlet.listener.RequestListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.kaicom.servlet.listener.ServletContextListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.kaicom.servlet.listener.SessionListener</listener-class>
  </listener>
  
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.kaicom.servlet.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>